*.bak
**/.ipynb_checkpoints/*


*.odp#
*.jsz
*.pickle
*.npy
*.pyc
*.*~
*.db
*.db

*.Rhistory


*.lyx~
*.lyx#
*.run.xml
*.aux
*.blg
*.log
*.out
*.nav
*.toc
*.vrb
*.snm
*.synctex.gz
*.synctex.gz(busy)
*.upa
*.upb
*-blx.bib
*.sta
*.bbl
*.bib$
*.preview.pdf
*.preview.tex
*.preview_BB.txt

Resources/example_code/stanford-parser-full-2013-06-20/**

documents_prepared/Conference Papers/SemSynEval/semanticEval draft 2.03 (2).pdf
documents_prepared/Journal Papers/SumResynthesis/report.pdf
documents_prepared/Conference Papers/SemSynEval/presentation/WhiteSentVecMeaning.pdf
documents_prepared/Conference Papers/SemSynEval/presentation/WhiteSentVecMeaning.pdf
documents_prepared/Journal Papers/SumResynthesis/complexity_working.pdf
documents_prepared/Journal Papers/SumResynthesis/white - Related works only.pdf
documents_prepared/Journal Papers/SumResynthesis/word_ordering_case_study.pdf
documents_prepared/Journal Papers/SumResynthesis/word_ordering_with_MIP_case_study.pdf
documents_prepared/Journal Papers/SumResynthesis/CICLing_SOWE2BOW.pdf
documents_prepared/Journal Papers/SumResynthesis/SOWE2BOW-diff.tex
documents_prepared/Journal Papers/SumResynthesis/SOWE2BOW - old.tex
documents_prepared/Journal Papers/SumResynthesis/SOWE2BOW.pdf
documents_prepared/Journal Papers/SumResynthesis/SOWE2BOW.pdf
documents_prepared/Journal Papers/SumResynthesis/WorkshopPresentation/pres.pdf
documents_prepared/Journal Papers/SumResynthesis/example_sents.pdf
documents_prepared/Proposal/seminar/seminar.pdf
documents_prepared/Journal Papers/SumResynthesis/SentenceGeneration V3.0.pdf
documents_prepared/Annual Reports/AR1/AnnualReportYear1.pdf
*.lnk
documents_prepared/Annual Reports/AR1/gantt.pdf
documents_prepared/Journal Papers/SumResynthesis/word_ordering.pdf
documents_prepared/Journal Papers/SumResynthesis/Sentence Generation V3.4.pdf
documents_prepared/Journal Papers/SumResynthesis/SOWE2BOWdiff.pdf
documents_prepared/Journal Papers/SumResynthesis/lyxpreviewH113121.png
documents_prepared/Journal Papers/SumResynthesis/SOWE2BOW.pdf
documents_prepared/Journal Papers/SumResynthesis/SOWE2BOW.pdf
documents_prepared/Journal Papers/SumResynthesis/SOWE2BOW.pdf
Paperwork/businesscards/master_badge.pdf



Resources/corpora/Books/
Resources/corpora/text8/
Resources/image_corpora/
prototypes/Characteristic/
prototypes/SenseSplittingWord2Vec/eval/data/
prototypes/SenseSplittingWord2Vec/eval/models/
prototypes/SenseSplittingWord2Vec/test/data/mnist_test.jld
prototypes/SenseSplittingWord2Vec/test/data/mnist_train.jld
prototypes/SenseSplittingWord2Vec/test/models/
prototypes/SumOfWordEmbeddings/results/
prototypes/SumOfWordEmbeddings/word_emb_data/
documents_prepared/Conference Papers/WordSenseEmbeddings/WordSenseEmbeddingsProposal.pdf
*.xls#
documents_prepared/Journal Papers/SumResynthesis/diff.pdf
documents_prepared/Journal Papers/SumResynthesis/sumeresynth v3.2.pdf.pdf
documents_prepared/Conference Papers/WordSenseEmbeddings/figs/training_block_diagram.png
documents_prepared/Conference Papers/WordSenseEmbeddings/LitRev/WordSenseEmbedding--Lit.pdf
*.bcf
documents_prepared/Conference Papers/WordSenseEmbeddings/TechReports/report.pdf
documents_prepared/Journal Papers/SumResynthesis/ICDM_workshop.pdf
documents_prepared/Journal Papers/SumResynthesis/ICDMWorkshopCameraReady/ICDM_workshop.pdf
documents_prepared/Journal Papers/SumResynthesis/ICDMWorkshopCameraReady/diff.pdf
documents_prepared/Conference Papers/WordSenseEmbeddings/www-conf/AligningWordSenseEmbeddings.pdf
documents_prepared/Journal Papers/SumResynthesis/ICDMWorkshopCameraReady/ICDM_workshop.pdf
documents_prepared/Conference Papers/SemSynEval/SemSynEvalPaper.pdf
*.csv#
*.fdb_latexmk
documents_prepared/Conference Papers/WordSenseEmbeddings/www-conf-alternate/Alternate.pdf
documents_prepared/Conference Papers/WordSenseEmbeddings/www-conf/AligningWordSenseEmbeddings Draft 3.pdf
documents_prepared/Conference Papers/WordSenseEmbeddings/www-conf/Draft6.pdf
documents_prepared/Conference Papers/WordSenseEmbeddings/www-conf/diff.pdf
documents_prepared/Conference Papers/WordSenseEmbeddings/www-conf/AligningWordSenseEmbeddings Draft 7.pdf
documents_prepared/Conference Papers/WordSenseEmbeddings/www-conf/diff 6to7.pdf
documents_prepared/Conference Papers/WordSenseEmbeddings/www-conf/diff.tex
documents_prepared/Conference Papers/WordSenseEmbeddings/figs/refittedsim.pdf
documents_prepared/Conference Papers/WordSenseEmbeddings/figs/refittedsim.pdf
documents_prepared/Conference Papers/WordSenseEmbeddings/figs/refittedsim.pdf
documents_prepared/Conference Papers/WordSenseEmbeddings/figs/refitting.pdf
documents_prepared/Conference Papers/WordSenseEmbeddings/figs/refittedsim.pdf
documents_prepared/Conference Papers/WordSenseEmbeddings/figs/wsd.pdf
documents_prepared/Conference Papers/SemSynEval/poster/SentVecMeaningPoster.pdf

documents_prepared/Conference Papers/WordSenseEmbeddings/ijcai/AligningWordSenseEmbeddings\.pdf
documents_prepared/Journal Papers/SumResynthesis/ICDMWorkshopPresentation/pres.pdf

documents_prepared/Conference Papers/WordSenseEmbeddings/ijcai/diff\.pdf
documents_prepared/Conference Papers/WordSenseEmbeddings/ijcai/doc01356220170216134409.pdf
documents_prepared/Conference Papers/WordSenseEmbeddings/ijcai/diff (draft5-www).pdf
documents_prepared/Conference Papers/WordSenseEmbeddings/ijcai/AligningWordSenseEmbeddings (draft5).pdf
documents_prepared/Annual Reports/AR2/AnnualReportYear2.pdf
documents_prepared/Books/Neural Representations of Natural Language/~$ok proposal short.docx

documents_prepared/Conference Papers/ColorDistributions/colordist\.pdf
documents_prepared/Books/Neural Representations of Natural Language/Book/main.pdf
documents_prepared/Conference Papers/ColorDistributions/colordist_draft2.pdf
documents_prepared/Conference Papers/ColorDistributions/diff.tex

documents_prepared/Conference Papers/ColorDistributions/math\.pdf

documents_prepared/Conference Papers/ColorDistributions/colordist_draft3\.pdf

documents_prepared/Conference Papers/ColorDistributions/colordist_draft4\.pdf

documents_prepared/Books/Neural Representations of Natural Language/Proposal/~\$ok proposal short\.docx

documents_prepared/Books/Neural Representations of Natural Language/Book/chapterwordrepr\.pdf

*.slnc

documents_prepared/Books/Neural Representations of Natural Language/Book/chapterintrotomachinelearning\.pdf

documents_prepared/Conference Papers/ColorDistributions/ZZZ_draft4\.tex

documents_prepared/Conference Papers/ColorDistributions/supp\.pdf

documents_prepared/Books/Neural Representations of Natural Language/Book/figs/chapterwordrepr/neural-language-model\.pdf

misc_notes/0D__phd_documents_prepared_Books_Neural_Represe___apterwordrepr_trigram-neural-language-model.eps
misc_notes/1D__phd_documents_prepared_Books_Neural_Represe___rwordrepr_trigram-adv-neural-language-model.eps
misc_notes/softmax-and-bayes-theorem.dvi
documents_prepared/Journal Papers/DensityEstimation/Notes/Summery Of Existing works.pdf
documents_prepared/Journal Papers/DensityEstimation/Notes/Variation on Likas 2001.pdf
documents_prepared/Misc/MLworkshop2017/document.pdf
documents_prepared/Journal Papers/DensityEstimation/Notes/On the relationship between Mixture Models and Neural Networks.pdf
documents_prepared/Journal Papers/DensityEstimation/Notes/On_the_relationship_between_Mixture_Models_and_Neural_Networks.pdf
documents_prepared/Journal Papers/DensityEstimation/MMandNNWNNs/MMandNNWNNs\.pdf

documents_prepared/Journal Papers/DensityEstimation/MMandNNWNNs/iclr2018_conference\.pdf

documents_prepared/Books/Neural Representations of Natural Language/Book/book.pdf
documents_prepared/Journal Papers/DensityEstimation/MMandNNWNNs/MMandNNWNNs_draft1.pdf
documents_prepared/Journal Papers/DensityEstimation/MMandNNWNNs/Intros\.pdf

*.synctex(busy)
documents_prepared/Books/Neural Representations of Natural Language/Book/chapterworsesense\.pdf

documents_prepared/Books/Neural Representations of Natural Language/Book/chapterwordsense\.pdf

documents_prepared/Journal Papers/DensityEstimation/SchoolConference/OnThePropertiesOfNNWNNs\.pdf

*.sav
documents_prepared/Books/Neural Representations of Natural Language/Book/chaptersentence.pdf
documents_prepared/Books/Neural Representations of Natural Language/Book/chapterrecurrentnetworks\.pdf
documents_prepared/Books/Neural Representations of Natural Language/Book/notation.pdf
documents_prepared/Books/Neural Representations of Natural Language/Book/notation.pdf
documents_prepared/Books/Neural Representations of Natural Language/Book/notation.pdf
documents_prepared/Books/Neural Representations of Natural Language/Book/chapterrecurrentnetworks.pdf

documents_prepared/Books/Neural Representations of Natural Language/Book/figs/chapterwordrepr/trigram-adv-neural-language-model\.pdf
documents_prepared/Books/Neural Representations of Natural Language/Book/draft 3.pdf

documents_prepared/Conference Papers/ReproducibleDataCollectionForRepeatableDataScience/DataCollectionReproduction\.pdf
documents_prepared/Conference Papers/ReproducibleDataCollectionForRepeatableDataScience/DataCollectionReproduction v-1.pdf
documents_prepared/Conference Papers/ColorDistributions/colordist v1-acl.pdf
documents_prepared/Conference Papers/NovelPerspective/NovelPerspective.pdf
documents_prepared/Conference Papers/WordSenseEmbeddings/1www-conf/AligningWordSenseEmbeddings Draft 4.pdf
documents_prepared/Conference Papers/WordSenseEmbeddings/1www-conf/AligningWordSenseEmbeddings Draft 9.pdf
documents_prepared/Conference Papers/WordSenseEmbeddings/1www-conf/WWW 2017 notification for paper 459.pdf
documents_prepared/Conference Papers/WordSenseEmbeddings/2www-conf-alternate/Structured by application.pdf
documents_prepared/Conference Papers/WordSenseEmbeddings/4cicling/llncsdoc.pdf
documents_prepared/Conference Papers/WordSenseEmbeddings/3ijcai/ijcai17.pdf
documents_prepared/Conference Papers/WordSenseEmbeddings/1www-conf/diff 6to7.pdf
documents_prepared/Conference Papers/WordSenseEmbeddings/1www-conf/diff.pdf
documents_prepared/Conference Papers/WordSenseEmbeddings/1www-conf/Draft6.pdf
documents_prepared/Conference Papers/WordSenseEmbeddings/1www-conf/Draft6.tex
documents_prepared/Conference Papers/WordSenseEmbeddings/2www-conf-alternate/Alternate.pdf
documents_prepared/Conference Papers/WordSenseEmbeddings/2www-conf-alternate/Structure of Draft 2.pdf
documents_prepared/Conference Papers/WordSenseEmbeddings/3ijcai/diff (draft5-www).pdf
documents_prepared/Conference Papers/WordSenseEmbeddings/3ijcai/AligningWordSenseEmbeddings (draft5).pdf
documents_prepared/Conference Papers/WordSenseEmbeddings/3ijcai/diff.pdf
documents_prepared/Conference Papers/WordSenseEmbeddings/3ijcai/doc01356220170216134409.pdf
documents_prepared/Conference Papers/WordSenseEmbeddings/4cicling/AligningWordSenseEmbeddings.pdf
documents_prepared/Conference Papers/ReproducibleDataCollectionForRepeatableDataScience/jmlr_article.pdf
documents_prepared/Conference Papers/WordSenseEmbeddings/1www-conf/AligningWordSenseEmbeddings.pdf
documents_prepared/Conference Papers/WordSenseEmbeddings/1www-conf/AligningWordSenseEmbeddings Draft 7.pdf
documents_prepared/Conference Papers/ColorDistributions/colordist v2-acl.pdf
documents_prepared/Conference Papers/ColorDistributions/colordist v3-acl.pdf
documents_prepared/Conference Papers/ReproducibleDataCollectionForRepeatableDataScience/datadeps.jl JMLR software track Draft.pdf
documents_prepared/Annual Reports/AR3 & extension/AnnualReportYear3.pdf
