*.bak
**/.ipynb_checkpoints/*

*.lyx~
*.lyx#
documents_prepared/themes/themes.aux
*.bbl
*.odp#
*.bib$
*.jsz
*.pickle
*.npy
*.pyc
*.*~
*.db
*.db

Resources/example_code/stanford-parser-full-2013-06-20/*
documents_prepared/Proposal/seminar/seminar.run.xml
documents_prepared/Proposal/seminar/seminar.aux
documents_prepared/Proposal/seminar/seminar.pdf
*.out
documents_prepared/Proposal/seminar/seminar.nav
documents_prepared/Proposal/seminar/fig.nn.pgf.aux
*.blg
*.log
documents_prepared/Proposal/seminar/seminar.snm
documents_prepared/Proposal/seminar/seminar.synctex.gz
documents_prepared/Proposal/seminar/seminar.toc
documents_prepared/Proposal/seminar/seminar.vrb
documents_prepared/Conference Papers/SemSynEval/semanticEval draft 2.03 (2).pdf
*.aux
*.gz
documents_prepared/Journal Papers/SumResynthesis/report.pdf
documents_prepared/Journal Papers/SumResynthesis/report.run.xml
*.Rhistory
