*.bak
**/.ipynb_checkpoints/*


*.odp#
*.jsz
*.pickle
*.npy
*.pyc
*.*~
*.db
*.db

*.Rhistory


*.lyx~
*.lyx#
*.run.xml
*.aux
*.blg
*.log
*.out
*.nav
*.toc
*.vrb
*.snm
*.synctex.gz
*.synctex.gz(busy)
*.upa
*.upb
*-blx.bib
*.sta
*.bbl
*.bib$


Resources/example_code/stanford-parser-full-2013-06-20/**

documents_prepared/Conference Papers/SemSynEval/semanticEval draft 2.03 (2).pdf
documents_prepared/Journal Papers/SumResynthesis/report.pdf
documents_prepared/Conference Papers/SemSynEval/presentation/WhiteSentVecMeaning.pdf
documents_prepared/Conference Papers/SemSynEval/presentation/WhiteSentVecMeaning.pdf
documents_prepared/Journal Papers/SumResynthesis/complexity_working.pdf
documents_prepared/Journal Papers/SumResynthesis/white - Related works only.pdf
documents_prepared/Journal Papers/SumResynthesis/word_ordering_case_study.pdf
documents_prepared/Journal Papers/SumResynthesis/word_ordering_with_MIP_case_study.pdf
documents_prepared/Journal Papers/SumResynthesis/CICLing_SOWE2BOW.pdf
documents_prepared/Journal Papers/SumResynthesis/SOWE2BOW-diff.tex
documents_prepared/Journal Papers/SumResynthesis/SOWE2BOW - old.tex
documents_prepared/Journal Papers/SumResynthesis/SOWE2BOW.pdf
documents_prepared/Journal Papers/SumResynthesis/SOWE2BOW.pdf
documents_prepared/Journal Papers/SumResynthesis/WorkshopPresentation/pres.pdf
documents_prepared/Journal Papers/SumResynthesis/example_sents.pdf
documents_prepared/Proposal/seminar/seminar.pdf
documents_prepared/Journal Papers/SumResynthesis/SentenceGeneration V3.0.pdf
documents_prepared/Annual Reports/AR1/AnnualReportYear1.pdf
*.lnk
documents_prepared/Annual Reports/AR1/gantt.pdf
documents_prepared/Journal Papers/SumResynthesis/word_ordering.pdf
documents_prepared/Journal Papers/SumResynthesis/Sentence Generation V3.4.pdf
documents_prepared/Journal Papers/SumResynthesis/SOWE2BOWdiff.pdf
documents_prepared/Journal Papers/SumResynthesis/lyxpreviewH113121.png
documents_prepared/Journal Papers/SumResynthesis/SOWE2BOW.pdf
documents_prepared/Journal Papers/SumResynthesis/SOWE2BOW.pdf
documents_prepared/Journal Papers/SumResynthesis/SOWE2BOW.pdf
Paperwork/businesscards/master_badge.pdf



Resources/corpora/Books/
Resources/corpora/text8/
Resources/image_corpora/
prototypes/Characteristic/
prototypes/SenseSplittingWord2Vec/eval/data/
prototypes/SenseSplittingWord2Vec/eval/models/
prototypes/SenseSplittingWord2Vec/test/data/mnist_test.jld
prototypes/SenseSplittingWord2Vec/test/data/mnist_train.jld
prototypes/SenseSplittingWord2Vec/test/models/
prototypes/SumOfWordEmbeddings/results/
prototypes/SumOfWordEmbeddings/word_emb_data/
documents_prepared/Conference Papers/WordSenseEmbeddings/WordSenseEmbeddingsProposal.pdf
*.xls#
documents_prepared/Journal Papers/SumResynthesis/diff.pdf
